apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  JWT_SECRET: "change-me-please"
  # If/when you add a DB, update this and mount into your services:
  MONGO_URL: "mongodb://app:AppPassw0rd!@mongo-mongodb.default.svc.cluster.local:27017/appdb?authSource=admin"