# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: product-services
# spec:
#   selector:
#     app: product-services
#   ports:
#     - port: 3001
#       targetPort: 3001
#       nodePort: 30081
#   type: NodePort

readinessProbe:
  httpGet:
    path: /health
    port: 3001
  initialDelaySeconds: 5
  periodSeconds: 10
livenessProbe:
  httpGet:
    path: /health
    port: 3001
  initialDelaySeconds: 10
  periodSeconds: 20